.guess {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  background-color: #caf0f8;
}
.main {
  height: 60vh;
  width: 60vw;
  background-color: #a7c957;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 20px;
  box-shadow: 10px 3px 43px 0px rgba(32, 71, 216, 0.75);
  -webkit-box-shadow: 10px 3px 43px 0px rgba(32, 71, 216, 0.75);
  -moz-box-shadow: 10px 3px 43px 0px rgba(32, 71, 216, 0.75);
}
.zurag {
  height: 40vh;
  width: 40vw;
  object-fit: contain;
}
.title {
  font-size: 50px;
  margin: 0;
}
.emoji {
  font-size: 100px;
  margin: 15px;
}
.answers {
  background-color: white;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 10px;
}
.answers button {
  width: 45%;
  margin: 5px;
  font-size: 20px;
  border-radius: 10px;
  padding: 8px;
  box-shadow: 10px 10px 54px -22px rgba(226, 234, 40, 0.75);
  -webkit-box-shadow: 10px 10px 54px -22px rgba(226, 234, 40, 0.75);
  -moz-box-shadow: 10px 10px 54px -22px rgba(226, 234, 40, 0.75);
  cursor: pointer;
}

.answers button:hover {
  background-color: #f6bd60;
  color: white;
}

.nogoon {
  background-color: #a7c957;
  color: white;
}
.ulaan {
  background-color: red;
  color: white;
}
